{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h3 class="text-center mb-3">Admin Access</h3>
      <form method="post">
        <input type="password" name="passcode" class="form-control mb-3" placeholder="Enter Admin Passcode" required>
        <button class="btn btn-primary w-100">Login as Admin</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
